:root {
  --bg: #ede7f6;
  --fg: #000;
  --accent-bg: #512da8;
  --accent-fg: #fff;
  --accent-hover: #4a148c;
  --footer-bg: #111;
  --banner-bg: #212121;
  --banner-fg: #fff;
} 

body {
  background-color: var(--bg);
  color: var(--fg);
  font-family: sans-serif;
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 2em;
  margin-top: 2em;
}

section:first-child {
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 100vw;
  place-items: center;
  place-content: center;
}

section p, label {
  padding: 0 1em;
}

form {
  display: flex;
  align-items: center;
  align: center;
  margin: 2em 0;
}

input {
  background-color: var(--banner-bg);
  color: var(--banner-fg);
  border: none;
  border-radius: .5em;
  font-size: 1.5em;
  width: 70%;
  padding: .5em 1em;
  margin: .5em;
  text-align: center;
}

input:focus {
  outline: none;
}

button {
  background-color: var(--accent-bg);
  border: none;
  border-radius: .5em;
  color: var(--accent-fg);
  cursor: pointer;
  display: block;
  font-size: 1.5em;
  padding: .5em 1em;
}

button:hover {
  background-color: var(--accent-hover);
}

label {
  margin-top: 1em;
}

#result {
  font-size: 2em;
}

#result span {
  color: var(--accent-bg);
}

a {
  color: var(--fg);
}

#cookies {
  background-color: var(--banner-bg);
  border-radius: .5em;
  color: var(--banner-fg);
  display: flex;
  font-size: 1.25em;
  align-items: center;
  justify-content: space-between;
  padding: .5em 1em;
  position: fixed;
  bottom: 1em;
  left: 1em;
  width: calc(100vw - 4em);
}

#cookies p {
  margin: 0;
}

#accept {
  font-size: 1em;
  padding: .5em 2em;
}

footer {
  align-items: center;
  background-color: var(--footer-bg);
  color: var(--banner-fg);
  font-size: 1.1em;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  text-align: left;
}

footer a {
  background-color: var(--banner-fg);
  border-radius: .5em;
  color: var(--banner-bg);
  display: flex;
  font-size: .8em;
  align-items: center;
  padding: .5em 1em;
  text-decoration: none;
  font-weight: bold;
}

.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  width: calc(100vw - 2em);
  margin: auto;
}

.feature {
  background-color: #e1bee7;
  border-radius: .5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.feature:nth-child(odd) {
  background-color: #ce93d8;
}

@media only screen and (max-width: 850px) {
  form {
    flex-direction: column;
  }

  #cookies {
    font-size: 1em;
  }

  .features {
    grid-template-columns: repeat(2, 1fr);
  }

  .feature {
    height: 200px;
  }

  .feature:nth-child(3) {
    background-color: #e1bee7;
  }

  .feature:nth-child(3n + 1), .feature:nth-child(5) {
    background-color: #ce93d8;
  }
}

#cookies p span:first-child {
  display: none;
}

@media only screen and (max-width: 700px) {
  #cookies p span:first-child {
    display: block;
  }

  #cookies p span:last-child {
    display: none;
  }
}

@media only screen and (max-width: 450px) {
  .features {
    grid-template-columns: 1fr;
  }

  .feature:nth-child(even) {
    background-color: #e1bee7;
  }

  .feature:nth-child(odd) {
    background-color: #ce93d8;
  }
}
